{% extends 'index.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <style>
        .error {
            color: red;
        }
    </style>
    <form method="post">
        {% if error %}
            <div class="error alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email"
               value="{{ last_username }}"
               name="_username"
               id="inputEmail"
               class="form-control"
               placeholder="Email" required autofocus>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password"
               name="_password"
               id="inputPassword"
               class="form-control"
               placeholder="Password" required>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="btn btn-lg btn-primary"
                type="submit">Sign in
        </button>
    </form>
{% endblock %}
